<div class="container">
  <h1>Result</h1>

  <div><%= @results[:message] %></div>
  <div>Your score is <%= @results[:score] %></div>
  <div>Your time was <%= @results[:time] %></div>
  <div><%= link_to "Play Again", new_path %></div>
</div>


