// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letters {
  display: flex;
}

.blue-box {
  flex-grow: 1;
  background-color: #5097D6;
  color: white;
  margin: 1px 5px;
  padding: 5px;
  box-shadow: 3px black;
  justify-content: space-around;
  width: 30px;
  height: 20px;
}

.container {
  text-align: center;
  width: 50vh;
}

.wide {
  width: 100%;
}
